.dice-footer {
    font-size: 14px;
    background-color: #333;
    padding-top:30px;
    font-weight: 400;
}
.dice-footer .footer-link {
    color: #999;
    margin-bottom: 15px;
    display: inline-block;
}
.dice-footer  .footer-link:hover {
    color: #fff;
    text-decoration: none;
}
.dice-footer .menu-title {
    color: #fff;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 500;
}
.dice-footer .menu-mobile .menu-title{
    background-color: #262626;
    margin-bottom: 0;
    cursor: pointer;
    width: 100%;
}
.dice-footer .menu-mobile .menu-toggle {
    float: right;
    color: #aaa;
    font-size: 110%;
}
.dice-footer .footer-colapse {
    margin-top: 15px;
}
.dice-footer .menu-title .for-show {
    display: inline;
}
.dice-footer .menu-title.collapsed .for-show {
    display: none;
}
.dice-footer .menu-title .for-hide {
    display: none;
}
.dice-footer .menu-title.collapsed .for-hide {
    display: inline;
}
.dice-footer .footer-copyright {
    background-color: #000;
    color: #aaa;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 5px;
}
.dice-footer .footer-copyright a {
    color: #aaa;
}
.dice-footer .footer-copyright p {
    margin-bottom: .5rem;
}
.dice-footer .footer-copyright img {
    vertical-align: baseline;
}
.dice-footer .list-item-inline {
    display: inline;
    margin-right: 10px;
}